<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/layout}">

<head th:replace="~{shared/layout :: head}">
</head>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

<body>
    <nav th:replace="~{shared/layout :: sidebar}">
    </nav>
    <section class="home">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <h4 th:text="${'Crea Plan de Estudio: '+anio}"></h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4 text-center">
                    <h5>ASIGNATURA</h5>
                </div>
                <div class="col-4">
                    <h5>HORAS SEMANALES</h5>
                </div>
            </div>
            <br>
            <form th:action="@{/plan/crear}" method="post">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    <div class="row" th:each="a:${asignaturas}">
                        <div class="col">
                            <p th:text="${'• '+a.descripcion}" style="min-height: 4.2vh;"></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row" th:each="h:${horas}">
                        <div class="col-6">
                            <p><input th:type="@{'number'}" class="form-control form-control-sm border-dark border-opacity-25" style="min-height: 4.1vh" name="horas" th:value="${h}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <br th:if="${alertaCampos==null}"> 
            <div class="row" th:if="${alertaCampos!=null}">
                <div class="col-1"></div>
                <div class="col-7 text-center">
                    <p th:text="${alertaCampos}" class="text-danger"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-7 text-center">
                    <button class="btn btn-danger">GUARDAR</button>
                </div>
            </div>
            </form>
        </div>
    </section>
</body>
</html>
