<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/layout}">

<head th:replace="~{shared/layout :: head}">
</head>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

<body>
    <nav th:replace="~{shared/layout :: sidebar}">
    </nav>
    <section class="home">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <h3 th:text="${'Plan de Estudio '+anioAcademico.id}"></h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4 text-center border-bottom border-end border-dark">
                    <h5>ASIGNATURA</h5>
                </div>
                <div class="col-4 text-center border-bottom border-dark">
                    <h5>HORAS SEMANALES</h5>
                </div>
            </div>
            <div class="row" th:each="a:${anioPlanes}">
                <div class="col-1"></div>
                <div class="col-4 border-end border-dark">
                    <br>
                    <p th:text="${'• '+a.asignatura.descripcion}"></p>
                </div>
                <div class="col-4 text-center border-dark">
                    <br>
                    <p th:text="${a.horasSemanales}"></p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>